[mysqld]
table_open_cache = 1024
innodb_buffer_pool_size = 3G
innodb_log_file_size = 256M
innodb_file_per_table
# innodb_log_buffer_size = 
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
